/gradleproject2/.gradle/
/gradleproject3/.gradle/
/gradleproject4/.gradle/
/TodoApp001/.gradle/
/TodoApp001/build/
/Pratica25/nbproject/private/
/Pratica25/build/
/Pratica26/nbproject/private/
/Pratica26/build/
/Pratica27/nbproject/private/
/Pratica27/build/
/Pratica28/nbproject/private/
/Pratica28/build/
/Pratica29/nbproject/private/
/Pratica29/build/
/Pratica30/nbproject/private/
/Ex024/nbproject/private/
/Ex024/build/
/Pratica30/build/
/Ex025/nbproject/private/
/Ex025/build/
/Ex026/nbproject/private/
/Ex026/build/
/Ex027/nbproject/private/
/JavaApplication119/nbproject/private/
/JavaApplication120/nbproject/private/
/Ex027/build/
/Java_Contact_App/nbproject/private/
/Java_Contact_App/build/
/App01/nbproject/private/
/App01/build/