/gradleproject2/.gradle/
/gradleproject3/.gradle/
/gradleproject4/.gradle/
/TodoApp001/.gradle/
/TodoApp001/build/
/Pratica25/nbproject/private/
/Pratica25/build/
/Pratica26/nbproject/private/
/Pratica26/build/
/Pratica27/nbproject/private/
/Pratica27/build/
/Pratica28/nbproject/private/
/Pratica28/build/
/Pratica29/nbproject/private/
/Pratica29/build/
/Pratica30/nbproject/private/
/Ex024/nbproject/private/
/Ex024/build/
/Pratica30/build/
/Ex025/nbproject/private/
/Ex025/build/
/Ex026/nbproject/private/
/Ex026/build/
/Ex027/nbproject/private/
/JavaApplication119/nbproject/private/
/JavaApplication120/nbproject/private/
/Ex027/build/
/Java_Contact_App/nbproject/private/
/Java_Contact_App/build/
/App01/nbproject/private/
/App01/build/
/Ex028/nbproject/private/
/Ex028/build/
/Pratica31/nbproject/private/
/Pratica31/build/
/Pratica32/nbproject/private/
/Pratica32/build/
/Pratica33/nbproject/private/
/Pratica33/build/
/BancoDeDadosEmJava/nbproject/private/
/BancoDeDadosEmJava/build/
/Ex029/nbproject/private/
/Ex029/build/
/Ex030/nbproject/private/
/Ex030/build/
/Ex031/nbproject/private/
/Ex031/build/
/Ex032_Faculdade/nbproject/private/
/Ex032_Faculdade/build/
/Ex033_Faculdade/nbproject/private/
/Ex033_Faculdade/build/
/JavaApplication134/nbproject/private/
/Ex034_Faculdade/nbproject/private/
/Ex034_Faculdade/build/
/Pratica34/nbproject/private/
/Pratica34/build/
/Ex035_Faculdade_Arrays/nbproject/private/
/Ex036_Faculdade_Arrays/nbproject/private/
/Ex036_Faculdade_Arrays/build/
/Ex035_Faculdade_Arrays/build/
/Ex036_Faculdade_Matrizes_Multidimensionais/nbproject/private/
/Ex036_Faculdade_Matrizes_Multidimensionais/build/
/Ex037_FG_Soma_Array_Metodo/nbproject/private/
/Ex037_FG_Soma_Array_Metodo/build/
/Ex038_FG_Array_duplicada/nbproject/private/
/Ex038_FG_Array_duplicada/build/
/Ex039_FG_Array_duplicada_02/nbproject/private/
/Ex039_FG_Array_duplicada_02/build/